.weather-container {
  padding: 20px;
  border-radius: 12px;
  transition: background-color 0.8s ease, border-color 0.8s ease; /* 滑らかに変化 */
  border: 2px solid transparent;
}

.weather-container.night {
  --theme-color: #f1c40f; /* 月の色 */
  --bg-soft: rgba(44, 62, 80, 0.5);
}

/* 寒い時（または通常） */
.weather-container.cold {
  background-color: #e6f7ff; /* 薄い青 */
  border-color: #91d5ff;
  --theme-color: #c8e6ff;
  --bg-soft: rgba(200, 230, 255, 0.3);
}

/* 暑い時 */
.weather-container.hot {
  background-color: #fff1f0; /* 薄い赤 */
  border-color: #ffa39e;
  --theme-color: #ffcfa4;
  --bg-soft: rgba(255, 200, 200, 0.3);
}

/* 文字色もCSS側でコントロールできる */
.hot h3 {
  color: #cf1322;
}
.cold h3 {
  color: #096dd9;
}

.error-messag p {
  color: '#ff4d4f';
  margin-top: '10px';
  font-weight: 'bold';
}

.search-history {
    margin: 10px 0;
    font-size: 0.8rem;
    color: #444444;
}

.history-item {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    padding: 2px 8px;
    color: #444444;
}
.history-item:hover {
    background: rgba(255, 255, 255, 0.4);
}